/*
============================================
    Fonts
============================================

/*
======================
    Global Font Size
======================
*/

html {
    font-size: 62.5%;
}
/*
======================
    Font Family
======================
*/

$font-open: 'Open Sans',
Arial,
sans-serif;
$font-arial: 'Open Sans',
Arial,
sans-serif;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
/*
======================
    Font Colours
======================
*/

$black: #000;
$white: #fff;
$grey: #828A8E;
$darkGrey: #606666;
/*
======================
    Font Backgrounds
======================
*/

$text-bg-one:#cc6666;
$text-bg-two:#FFC202;
$text-bg-three:#4c90c1;
$text-bg-four:#59853D;
/*
======================
    Code block styles
======================
*/

code {
    clear: both;
    background: $grey;
    color: $white;
    padding: 0 10px;
    margin: 0px 5px 0 0;
}
/*
======================
    Font Elements
======================
*/
/* General font styles */

h1 {
    font: 700 4.5rem 'Roboto', sans-serif;
    color: $white;
    margin: 0 0 35px 0;
}

h2 {
    font: 700 4.0rem 'Roboto', sans-serif;
    color: #404446;
    margin: 10px 0 30px 0;
    padding-bottom: 25px;
    border-bottom: 2px solid #d2dbe2;
    &:first-of-type {
        font-size: 6rem;
    }
}

h3 {
    font: 700 2.5rem 'Raleway', sans-serif;
    color: $darkGrey;
    margin: 0 0 15px 0;
    display: inline-block;
    text-transform: capitalize;
}

a {
    font-size: 2.1rem;
    color: #4C90C1;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p {
    font: 400 2.1rem/3.5rem 'Roboto', sans-serif;
    color: $grey;
    margin: 0 0 20px;
}

time {
    font: 400 1.6rem 'Roboto', sans-serif;
    color: #fff;
}

strong {
    font-weight: 700;
}
/* Specific font styles */

.back {
    float: right;
}
/*
============================================
    Buttons
============================================
*/

//.read-more {
//    margin: 10px 0 0 0;
//    background: #E55EA2;
//    padding: 10px 20px;
//    font-size: 1.8rem;
//    color: $white;
//    display: inline-block;
//    -webkit-transition: all 0.55s ease;
//    -o-transition: all 0.55s ease;
//    transition: all 0.55s ease;
//    &:hover {
//        text-decoration: none;
//        -webkit-box-shadow: -5px 5px 0px 0px rgba(204,204,204,1);
//        -moz-box-shadow: -5px 5px 0px 0px rgba(204,204,204,1);
//        box-shadow: -5px 5px 0px 0px rgba(204,204,204,1);
//    }
//}
/* General link styles */

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 80px;
    line-height: 1;
    display: inline-block;
    &:hover {
        text-decoration: none;
    }
}

.link--surinami {
    font: 400 100px/80px 'Lobster Two', cursive;
    text-transform: uppercase;
    color: #2b2b2b;
}

.link--surinami span {
    position: relative;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.link--surinami:hover span {
    color: transparent;
}

.link--surinami span::before,
.link--surinami span::after {
    position: absolute;
    color: #2b2b2b;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.link--surinami span::before {
    content: attr(data-letters-l);
    top: 20px;
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
}

.link--surinami span::after {
    content: attr(data-letters-r);
    left: 0;
    bottom: -60px;
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
}

.link--surinami:hover span::before,
.link--surinami:hover span::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/* Media Queries */

@media screen and (max-width: 50em) {
    .link--surinami {
        font-size: 3em;
    }
}
