/*
==============================================
	slider-wrap
==============================================
*/

main .banner-wrap{
	overflow:hidden;
}
main .banner-wrap .banner{
	height:1000px;
 	background:url('../images/wired.jpg') no-repeat 50% 50% / cover;
	margin: 0;
}
main .banner-wrap figure figcaption{
	float:right;
	margin:50px 0 0 0;
}
main .banner-wrap figure figcaption p{
	padding:10px 20px;
}
.content{
	padding: 40px 0 0;
}