/*
==============================================
Body styles
==============================================
*/
body {
    min-height: 100vh;
    position: relative;
}
main {
    background: #fff;
    margin-bottom: 200px;
}
footer {
    position: absolute;
    bottom: -200px;
    height: 140px;
}
/*
======================
Home page
======================
*/
// .posts-projects {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     .teaser {
//         width: 45%;
//         display: flex;
//         position: relative;
//         padding: 20px 0;
//         -webkit-transition: all 0.5s ease;
//         -o-transition: all 0.5s ease;
//         transition: all 0.5s ease;
//         &:hover {
//             background: #D2DBE2;
//         }
//         h2 {
//             font-size: 3.5rem;
//             padding-left: 20px;
//             padding-right: 20px;
//             &:hover {
//                 border-bottom: 2px solid #fff;
//             }
//         }
//         article {
//             padding: 0 20px;
//             h3 {
//                 font: 700 2.2rem Lato, sans-serif;
//                 color: #606666;
//                 margin: 0 0 15px;
//                 border-bottom: 0;
//             }
//         }
//     }
// }
