//
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    /* flex: 1; would be enough but it looks bad in IE */
    flex: 1 0 auto;
}
.front {
    .jumbotron {
        height: 50vh;
        padding: 0;
        background: url('../../assets/images/tokyo.jpg') center/cover no-repeat;
        overflow: hidden;
        margin-bottom: 0;
    }
}
#logo {
    fill: $pink1;
    height: 100%;
    transition: all 0.4s cubic-bezier(.05,.94,.54,.91);
    z-index: 9;
}
.front {
    &.scrolled #logo {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: auto;
    }
}
// Top nav
.navbar {
    position: fixed;
    top: 30px;
    right: 30px;
    .navbar-toggle {
        width: 70px;
        background: $navy1;
        padding: 10px;
        border: 0;
        border-radius: 4px;
        &:focus {
            outline: 0;
        }
        .icon-bar {
            width: 100%;
            height: 7px;
            margin-bottom: 10px;
            background: #fff;
            float: left;
        }
        .icon-bar:last-of-type {
            margin-bottom: 0;
        }
    }
}
.navbar .navbar-toggle {
    .icon-bar {
        @include transition(0.3s);
    }
    &:hover {
        .icon-bar:nth-child(1) {
            @include transform(90deg);
            width: 50%;
            margin-top: 5px;
        }
        .icon-bar:last-of-type {
            margin-bottom: 0;
        }
    }
}
/* Home page */
.front {
    .intro {
        text-align: center;
        margin: 100px 0 70px;
        h1 {
            font-size: 14rem;
            font-weight: 900;
            line-height: 11rem;
            margin: 0 0 30px;
            text-transform: uppercase;
        }
        h6 {
            display: inline-block;
            color: $pink1;
            font-size: 2.5rem;
            font-weight: 400;
            margin-bottom: 70px;
            border-bottom: 1px solid $pink1;
            line-height: normal;
            text-transform: none;
        }
        p {
            text-align: left;
        }
    }
    .teasers {
        .col-md-6 {
            background: $blue1;
        }
        .col-md-6:last-of-type {
            background: $blue2;
        }
        .card {
            max-width: 700px;
            width: 100%;
            padding: 40px;
        }
        .card,
        .card-header {
            background-color: transparent;
            border: 0;
        }
        .card-header,
        .card-text,
        .card-title {
            color: #fff;
        }
    }
}
footer {
    width: 100%;
    padding: 40px 0;
    //background: $gray2;
    text-align: center;
}
