// Home page cards

@keyframes svgEase {
    0%{
         opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes svgEase {
    0%{
         opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.front .teasers.col-md-6 svg{
    animation: svgEase 0.3s linear;
}
