/* Base Fonts */
html {
    font-size: 62.5%;
}
// Font Family
$header-font-family: 'Source Sans Pro', sans-serif;
$text-font-family: 'Open Sans', sans-serif;
// Font colour
$primary-font-colour: $gray4;
$secondary-font-colour: $gray2;
/* General font styles */
h1,
h2,
h3,
h4 {
    font-family: $header-font-family;
}

h1,
h2,
h3,
h4,
li,
p,
a {
    color: $primary-font-colour;
}
h1 {
    font-size: 6rem;
    font-weight: 900;
    line-height: 6rem;
    margin: 0 0 60px;
    text-transform: uppercase;
    span {
        color: $pink1;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: normal;
        text-transform: none;
    }
}
h2 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 3.2rem;
    margin: 0 0 35px;
    text-transform: uppercase;
}
h3 {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 3rem;
    margin: 0 0 35px;
    text-transform: uppercase;
}
h4 {

}
p {
    font: 300 2.8rem/5rem $text-font-family;
    margin: 0 0 30px;
}
a,a:focus, a:hover{
    font: 300 2.8rem/5rem $text-font-family;
}
time {
    font: 400 1.5rem $text-font-family;
    color: $secondary-font-colour;
}
strong {
    font-weight: 700;
}
ol,
ul {
    padding-left: 0;
    list-style-type: none;
    li {
        font: 700 2.1rem/3.5rem $text-font-family;
        margin: 0 0 50px;
    }
}
ol > li p:first-of-type {
    font-weight: bold;
}
code{
    color: #fff;
}
/*
======================
    Font Icons
======================
*/
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?80181440');
    src: url('../font/fontello.eot?80181440#iefix') format('embedded-opentype'), url('../font/fontello.woff?80181440') format('woff'), url('../font/fontello.ttf?80181440') format('truetype'), url('../font/fontello.svg?80181440#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
[class*=" icon-"]:before,
[class^="icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-doc-circled:before {
    content: '\e800';
}
.icon-home:before {
    content: '\e801';
}
.icon-rss-alt:before {
    content: '\e803';
}
.icon-link-ext:before {
    content: '\e804';
}
.icon-codepen:before {
    content: '\e805';
}
.icon-github:before {
    content: '\e806';
}
