


.front {
    .jumbotron {
        height: 50vh;
        padding: 0;
        background: url('../../assets/images/tokyo.jpg') center/cover no-repeat;
        overflow: hidden;
        margin-bottom: 0;
    }
}
#logo {
    fill: $pink1;
    height: 100%;
    transition: all 0.3s cubic-bezier(.05,.94,.54,.91);
    z-index: 99;
}
.front {
    &.scrolled #logo {
        position: fixed;
        top: 0;
        left: 0;
        height: 120px;
    }
}
// Top nav
.navbar {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 150px;
    .navbar-toggle {
        width: 70px;
        background: $navy1;
        padding: 10px;
        border: 0;
        border-radius: 4px;
        &:focus {
            outline: 0;
        }
        .icon-bar {
            width: 100%;
            height: 7px;
            margin-bottom: 10px;
            background: #fff;
            float: left;
        }
        .icon-bar:last-of-type {
            margin-bottom: 0;
        }
    }
}
.navbar {
    z-index: 10;
    .navbar-collapse{
        width: 145px;
    }
    .navbar-toggle {
        height: 70px;
        .icon-bar {
            position: relative;
            @include transition(0.3s);
        }
    }
    // Fire nav animation on open
    .navbar-toggle.triggered {
        .icon-bar {
            margin: 0;
        }
        .icon-bar:nth-child(1) {
            transform: rotate(225deg) translate(-3px,-3px);
        }
        .icon-bar:nth-child(2) {
            display: none;
        }
        .icon-bar:nth-child(3) {
            transform: rotate(-225deg) translate(-2px, 2px);
        }
        .icon-bar:last-of-type {
            margin-bottom: 0;
        }
    }
    //
    .navbar-nav{
        margin-top: 10px;
        padding: 0;
        background: $gray2;
        li {
            margin-bottom: 0;
            padding: 10px 20px;
            &:hover{
                display: block;
                background: $gray1;
            }
            a{
                font-size: 2rem;
                color: #fff;
                &:hover{
                    border-bottom: 0;
                }
            }
        }

        li:last-of-type{
            margin-bottom: 0;
        }
    }
}
/* Home page */
.front {
    main {
        display: flex;
        z-index: 9;
        position: relative;
        margin-bottom: 148px;
        display: block;
        background: #fff;
    }
    .intro {
        text-align: center;
        margin: 100px 0 70px;
        h1 {
            font-size: 14rem;
            font-weight: 900;
            line-height: 11rem;
            margin: 0 0 30px;
            text-transform: uppercase;
        }
        h6 {
            display: inline-block;
            color: $pink1;
            font-size: 2.5rem;
            font-weight: 400;
            margin-bottom: 70px;
            border-bottom: 1px solid $pink1;
            line-height: normal;
            text-transform: none;
        }
        p {
            text-align: left;
        }
    }
    .teasers {
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        .col-md-6 {
            position: relative;
            background: $blue1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            overflow: hidden;
            @include transition(0.3s);
            svg {
                position: absolute;
                top: 100%;
                left: 0;
                margin: 0;
                fill: $gray2;
                transition: all 0.5s cubic-bezier(0.70,-0.80,0.280,1.50);
            }
            &:hover {
                background: $pink1!important;
                svg {
                    transform: translateY(-100%);
                }
            }
        }
        .col-md-6:last-of-type {
            background: $blue2;
            align-items: flex-start;
        }
        .card {
            max-width: 500px;
            width: 100%;
            padding: 40px;
        }
        .card,
        .card-header {
            background-color: transparent;
            border: 0;
        }
        .card-header{
            font-size: 3.5rem;
        }
        .card-title{
            font-size: 2.5rem;
            font-weight: bold;
        }
        .card-header,
        .card-text,
        .card-title {
            color: #fff;
        }
        .card-text {
            font-size: 2rem;
            line-height: 3.5rem;
        }
        .read-more,
        a {
            color: #fff;
        }
        a:hover {
            text-decoration: none;
        }
    }
}
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 0;
    width: 100%;
    padding: 40px 0;
    background: $gray3;
    a,
    small {
        color: #fff;
    }
    a:hover{
        color: $pink1;
        border-bottom: 0;
    }
    small{
        margin-top: 20px;
    }
    //background: $gray2;
}
