$bannerLarge: 500px;
$bannerSmall: 220px;

/*
======================
    Header
======================
*/

// front page
.banner-wrap {
    overflow: hidden;
    position: relative;
}

.banner-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    max-width: 850px;
}

.banner-wrap .banner-image {
    background-image: url('../images/tokyo1.jpg');
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: $bannerLarge;
}

// inner pages
.default header {
    height: 180px;
}

.default .banner-wrap svg {
    width: 270px;
}

// general header
.banner-wrap .st1 {
    fill: #E55EA2;
}


/*
======================
    Nav
======================
*/

nav {
    z-index: 99;
    position: fixed;
    right: 0px;
    padding: 20px 0 20px 20px;
    background: #009FC3;
    a {
        margin-right: 20px;
        color: #fff;
    }
}