footer {
    width: 100%;
    padding: 40px 0;
    background: #009FC3;
    text-align: center;
    small {
        display: block;
        font-size: 1.5rem;
        color: #fff;
        margin-top: 20px;
    }
}