<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]>     <html class="ie8"> <![endif]-->
<!--[if IE 9]>     <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}

</head>

<body class="default">
    <header class="grid banner-wrap">
        <div class="col-full banner">
            <h1>First<br>Things</h1>
        </div>
        <nav class="nav-2">
            <button class="dropdown" id="dropdown" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul>
                <1i><a href="{{ site.baseurl }}/">Home</a></1i>
                <1i><a href="/projects">Projects</a></1i>
                <1i><a href="/blog">Blog</a></1i>
                <1i><a href="/about">About</a></1i>
            </ul>
        </nav>
    </header>
    <main>
        <div class="menu-wrap">
            <button class="menu-button" id="menu-button" type="button">MENU</button>
            <nav id="main-nav" class="main-nav">
                <a href="{{ site.baseurl }}/">Home</a>
                <a href="/about">About</a>
                <a href="/blog">Blog</a>
                <!--                <a href="#">Current Projects</a>-->
            </nav>
        </div>
        <section class="grid content">
            <div class="col-full center">
                {{ content }}
            </div>
        </section>
    </main>
    {% include footer.html %} {% include analytics.html %}
</body>

</html>