<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]>     <html class="ie8"> <![endif]-->
<!--[if IE 9]>     <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}

</head>

<body class="front">
    <header class="grid banner-wrap">
        <h1>First<br>Things</h1>
        <div class="col-full banner">
        </div>
        <!--
        <div id="cd-nav">
            <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
            <nav id="cd-main-nav">
                <ul>
                    <li><a href="#0">Homepage</a></li>
                    <li><a href="#0">Services</a></li>
                    <li><a href="#0">Portfolio</a></li>
                    <li><a href="#0">Pricing</a></li>
                    <li><a href="#0">Contact</a></li>
                </ul>
            </nav>
        </div>
-->
        <!--
        <nav class="nav-2">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
-->
    </header>
    <main>
        <div class="menu-wrap">
            <button class="menu-button" id="menu-button" type="button">MENU</button>
            <nav id="main-nav" class="main-nav">
                <a href="{{ site.baseurl }}/">Home</a>
                <a href="/about">About</a>
                <a href="/blog">Blog</a>
                <!-- <a href="#">Current Projects</a>-->
            </nav>
        </div>
        <section class="grid content">
            <div class="col-full center">
                {{ content }}
            </div>
        </section>
    </main>
    {% include footer.html %} {% include analytics.html %}
</body>

</html>