<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]>     <html class="ie8"> <![endif]-->
<!--[if IE 9]>     <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
        {% include meta.html %}

    </head>
    <body>
    <header>
        <div class="menu-wrap">
            <button class="menu-button" id="menu-button" type="button">
                <span class="burger-icon"></span> MENU
            </button>
            <nav id="main-nav" class="main-nav">
                <a href="#">Home</a>
                <a href="/about">About</a>
                <a href="/archive.html">Blog</a>
<!--                <a href="#">Current Projects</a>-->
            </nav>
        </div>
    </header>
    <main>
        <section class="grid banner-wrap">
            <div class="col-full banner">
                <div class="col-1-3 banner-text">
                    <h1>First<br>Things</h1>
                </div>
            </div>
        </section>
        <section class="grid content">
            <div class="col-full center">
                My name is Luke. I'm a front-end developer working in Dublin. That is all.
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include analytics.html %}
    </body>
</html>

