<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7"> <![endif]-->  
<!--[if IE 8]>     <html class="ie8"> <![endif]-->  
<!--[if IE 9]>     <html class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html><!--<![endif]-->
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    	{% include meta.html %}

		<!--[if lt IE 9]>
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


       	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css" />
    	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

		<script src="{{ site.baseurl }}/assets/js/jquery-1.11.2.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.cycle2.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/functions.js"></script>

	</head>
	<body>
    <header>
        <div class="menu-wrap">
            <button class="menu-button" id="menu-button" type="button">
                <span class="burger-icon"></span> MENU
            </button>
            <nav id="main-nav" class="main-nav">
                <a href="#">Home</a>
                <a href="/about">About</a>
                <a href="/archive.html">Blog</a>
<!--                <a href="#">Current Projects</a>-->
            </nav>
        </div>
    </header>
    <main>
        <section class="grid banner-wrap">
            <div class="col-full banner">
                <div class="col-1-3 banner-text">
                    <h1>First<br>Things</h1>
                </div>
            </div>
        </section>
        <section class="grid content">
            <div class="col-full center">
                Nothing to see here yet
            </div>
        </section>
    </main>
    <footer>
        <a href="lukemcgurdy.github.io" class="home" title="home"></a>
        <a href="" class="twitter">Twitter</a>
    </footer>
    {% include analytics.html %}
	</body>
</html>

